<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>New User Page</title>
</head>
<body>
    <img src="../static/images/news pic.jpg" alt="" class="image" height="700px" width="100%">
    <h3 class="head">SIGNUP TO NEWS API</h3>
    <form method="post" class="form1">
           <label for="Name">Name</label>
           <input type="text" name="Name" class="name"><br><br>
    
        <label for="Password">Password</label>
        <input type="text" name="Password"><br><br>      
    
        <input type="submit" value="Signup">
    </form><br><br>
</body>
</html>